<h1>Editing Service</h1>

<div class="mx-auto text-center">
    <%= link_to 'Cancel', @service, class: "btn btn-secondary" %>
    <%= link_to 'Delete', @service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

<div class='container'>
    <%= render 'form', service: @service %>
</div>
