<h1>Log in</h1>

<div class='d-flex justify-content-center align-items-center container text-center'>
    <div class="row">
        <%= render 'form' %>
    </div>
</div>
<br>
<div class="d-flex justify-content-center">
    <div class="row">
        <%= link_to 'Register an account', '/register' %>
    </div>
</div>    
    
