<h1>Register</h1>

<div class='d-flex justify-content-center align-items-center container'>
    <div class="row">
        <%= render 'form', user: @user %>
    </div>
</div>
<br>
<div class="d-flex justify-content-center">
    <div class="row">
        <%= link_to 'Log in to existing account', '/login' %>
    </div>
</div>    
    
