// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.reviews {
    width: 80%;
    padding-left: 20%;
}

.reviews a:link { 
    text-decoration:none; 
}

.review {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.review-rating {
    font-size: 24px;
}

.review-title {
    font-size: 14px;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

.review-author-container {
    float: right;
    font-size: 14px;
}

.review-author {
    color: dodgerblue;
}

.review-created-at {
    color: gray;
}

.review-nav {
    padding-top: 1em;
}

.review-buttons {
    position: absolute;
    right: 10px;
    top: 10px;
}

.review-builder-container {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
}
