<div class="appointment">
  <div class="appointment-title">
    <span><%= appointment.service_title %></span>            
  </div>
  <div class="appointment-date">
    <% start_time = appointment.start_time.getlocal('-08:00') %>
    <% end_time = appointment.end_time.getlocal('-08:00') %>
    <% meridian = (start_time.hour < 12 && end_time.hour >=12) %>
    <% date_str = start_time.strftime("%A, %B %-d, %Y") %>
    <% start_time_str = meridian ? start_time.strftime("%l:%M %P") : start_time.strftime("%l:%M") %>
    <% end_time_str = end_time.strftime("%l:%M %P") %>
    <span><%= "#{date_str} • #{start_time_str} - #{end_time_str}" %></span>            
  </div>
  <div class="appointment-buttons">
    <%= link_to 'Delete', 
      service_appointment_url(appointment.service_id, appointment),
      method: :delete, class: "btn btn-secondary btn-sm mt-3 btn-block",
      data: {confirm: 'Are you sure you want to delete this appointment slot?'} %>
    </div>
</div>