<h1>Create Appointments</h1>

<div class="mx-auto text-center">
    <%= link_to 'Cancel', service_appointments_url(@service), class: "btn btn-secondary" %>
</div>

<div class='appointment-builder-container'>
  <% if session[:user_id] != @service.user_id %>
    <div>Not authorized to access resource</div>
  <% else %>
    <%= render 'form', appointment_builder: @appointment_builder %>
  <% end %>
</div>
